body{
    padding: 0;
    margin:0;
}

/* header */
header{
    min-height:80vh ;
}
.nav{
    padding-top:40px ;
    justify-content:space-between;
    align-items: center;
}
.nav a{
    text-decoration:none ;
    color:#F796C8;
    border: solid 1px #F796C8;
    border-radius:15px ;
    padding:5px 20px ;
}
.nav a:hover{
    text-decoration: underline;

}
.info{
    text-align: center;
    margin-top:180px ;
}
.info h2{
    font-size:50px ;
    font-weight: bold;

}
.info p{
    margin-bottom:40px ;

}
.info a{
    text-decoration: none;
    background-color: #FD53C0;
    color: white;
    padding:15px 80px ;
    border-radius:30px ;
    font-size:20px ;
}
.info a:hover{
    background-color: white;
    color: #FD53C0;
    border: solid 1px #FD53C0 ;
}
.webimg{
    margin-left: auto;
    margin-right: auto;
}
/* numbers */

.row{
    margin-top:20px ;
}

.row .image{
    width:30px ;
}
.row h1{
    font-size:50px ;
    font-weight: bold;
}

/* grow */
.growhead{
    width:100% ;
    height:30vh ;
    background-image: url(../images/bg-section-top-desktop-1.svg);
    background-size:cover ;
    background-repeat: no-repeat;
}
.growinfo {
    height:50vh ;
    margin-top:-20px ;
    background-color:#F5FAFE ;
    align-items: center;
}

.growinfo .row {
    align-items: center;
}
.growinfo .row div{

}
.growfooter{
    height:30vh ;
    background-image: url(../images/bg-section-bottom-desktop-1.svg);
    background-size:cover ;
    background-repeat: no-repeat;
}

/* flowing */
.flowing{
    margin-top:15vh ;
    margin-bottom:10vh ;
}
.flowing .row{
    align-items: center;
}


/* users */
.usershead{
    width:100% ;
    height:30vh ;
    background-image: url(../images/bg-section-top-desktop-1.svg);
    background-size:cover ;
    background-repeat: no-repeat;
}
.usersinfo {
    height:50vh ;
    margin-top:-20px ;
    background-color:#F5FAFE ;
    align-items: center; 
}
.usersinfo .row{
    align-items: center;
}

.usersfooter{
    height:30vh ;
    background-image: url(../images/bg-section-bottom-desktop-1.svg);
    background-size:cover ;
    background-repeat: no-repeat;
}

/* ready */
.ready{
    margin-top:20vh ;
    text-align: center;
    height:20vh ;   
}
.ready h2{
    font-size:40px ;
    font-weight: 700;
    margin-bottom:50px ;
}
.ready a{
    text-decoration: none;
    background-color: #FD53C0;
    color: white;
    padding:15px 80px ;
    border-radius:30px ;
    font-size:20px ;
}
.ready a:hover{
    background-color: white;
    color: #FD53C0;
    border: solid 1px #FD53C0 ;
}

/* footer */
footer{
    margin-top:20vh ;
}
.footertop{
    width:100% ;
    height:30vh ;
    background-image: url(../images/bg-footer-top-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.footerinfo{
    background-color: #01262F;
    margin-top:-25px ;
    height:70vh ;
}
footer {
    color: white;
}
footer .right{
    margin-left:150px ;
   
}
footer .right a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size:60px ;    
}
.footericons{
    list-style: none;
    display: flex;
    margin-left:-30px ;
    margin-top:50px ;
}
.footericons li{
    margin-right:30px ;
    font-size:20px ;
}
.footericons li a{
    text-decoration: none;
    font-size:35px ;
}
footer form input {
    padding:10px 60px;
    border-radius:10px ;
    margin-right:20px ;
}
footer form button{
    padding:10px 40px ;
    border-radius:10px ;
    color: white;
    background-color: #FD53C0;
}


@media all and (max-width:500px){
    /* nav */
    .nav{
        padding-left:30px ;
    }
    .nav img{
        margin-bottom:60px ;
        text-align: center;
    }
    .nav a{
        padding:10px 60px;
        margin-left:20px ;   
    }
    /* info */
    .info a{
        padding:15px 40px ;
    }

    /* webimg */
    .webimg{
        width:700px ;
        margin-top:100px ;
    }
    .webimg img{
        width:300px ;
    }

    /* numbers */
    .numbers div img{
        margin-right:90px ;
        width:30px ;
    }

    /* grow */
    .growinfo,.usersinfo{
        height:80vh ;
    }
    .growinfo .right{
        margin-bottom:50px ;
        text-align: center;
    }
    .growinfo .left{
        text-align: center;
    }
    .growhead ,.usershead{
        background-image: url(../images/bg-section-top-mobile-1.svg);
        background-size:cover ;
        background-repeat: no-repeat;    
    }
    .growfooter,.usersfooter{
        height:30vh ;
       background-image:url(../images/bg-section-bottom-mobile-2.svg) ;
    }

    /* flowing */
    .flowing .left{
        margin-bottom:60px ;
        text-align: center;
    }
    .flowing .right {
        text-align: center;
    }
    .flowing .right h1{
        font-size:40px ;
    }

    /* users */
    .users .left{
        margin-bottom:80px ;
        text-align: center;
    }
    .users .right {
        text-align: center;
    }
    .users .left h1{
        font-size:40px ;
    }

    /* ready */
    .ready a{
        padding:15px 40px ;
    }

    .footerinfo{
        height:150vh ;
    }

    footer .left{
        text-align: center;
        margin-bottom:10vh ;
    }
    footer .right{
        margin-left:0 ;
        text-align: center;
    }
    .footericons{
       margin-left:50px;
    }

}
